<template>
  <div class="hello">
    <Post :post="post" v-for="post in posts" :key="post.id"/>
    <div v-for="post in posts">
      {{post}}
    </div>
  </div>
</template>

<script>
import Post from './Post'
import UserModel from '../models/User'
import PostModel from '../models/Post'

export default {
  name: 'hello',
  components: {Post},
  computed: {
    posts () {
      return this.$store.state.posts.all
    }
  },
  methods: {
    randomString () {
      return Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0, 5)
    }
  },
  created () {
    for (let i = 1; i < 4; ++i) {
      try {
        let user = new UserModel({
          id: i,
          name: this.randomString()
        })
        user.save()
      } catch (e) {
        console.error(e)
      }
    }
    for (let i = 0; i < 10; ++i) {
      try {
        let post = new PostModel({
          id: i,
          user_id: Math.floor(Math.random() * 3) + 1,
          body: this.randomString()
        })
        post.save()
      } catch (e) {
        console.error(e)
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
