<template>
  <div class="post">
    {{post.body}} @ {{user.name}} <button @click="destroy">Delete</button> | <button @click="edit">Alter</button>
  </div>
</template>

<script>

import Post from '../models/Post'

export default {
  props: ['post'],
  data () {
    return {
      data_post: null
    }
  },
  computed: {
    user () {
      return this.data_post.user
    }
  },
  methods: {
    destroy () {
      this.data_post.destroy()
    },
    edit () {
      this.data_post.set('body', 'la wea cuatica')
      this.data_post.save()
    }
  },
  created () {
    this.data_post = new Post(this.post)
  }
}
</script>
